@import url('https://fonts.googleapis.com/css2?family=Galada&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pompiere&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* max-width: 100vw; */
    background: linear-gradient(to right, #FEF5F5, #DD9B09);
    font-family: poppins;
    color: #000000;
}

.pizza-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}

header {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 0 7rem;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    font-family: inter;
}

ul a {
    color: #000000D6;
    text-decoration: none;
}

li a:active {
    color: #000000;
    font-weight: 700;
}

button {
    padding: .4rem 1.6rem;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.btn1 {
    color: #ffffff;
    background-color: #885E00;
    margin-right: 1rem;
    font-size: 22px;
    font-weight: 500;
}

.btn2 {
    color: #000000;
    background-color: #ffffff01;
    border: 1px solid;
    font-size: 19px;
    font-weight: 500;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 46.8rem;
}

.texts h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 96px;
}

.texts p {
    width: 40.6rem;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.btn3 {
    background-color: #DD9B09;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 1rem 1.2rem;
}

.btn4 {
    color: #000000;
    background-color: #ffffff00;
    border: 1px solid;
    padding: 1rem 1.2rem;
    font-size: 16px;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    body{
        max-width: 30rem;
        width: 90%;
        margin: 0 auto;
        padding: 2rem auto;
    }

    .pizza-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }

    header{
       font-size: .6rem;
       width: 20rem;
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 1rem;
       flex-wrap: nowrap;
       
    }

    nav ul{
        display: flex;
        gap: .2rem;
    }

    ul li{
        font-size: .4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0rem;
    }

    li a{
        width: auto;
        padding: .2rem .4rem;
        text-wrap: nowrap;
    }

    .logo{
        width: 2rem;
    }

    .call-to-action{
        display: flex;
        gap: .2rem;
    }

    .btn1{
        font-size: .4rem;
        padding: .2rem .4rem;
        border-radius: 3px;
        margin-right: 0;
    }

    .btn2{
        font-size: .4rem;
        padding: .2rem .4rem;
        text-wrap: nowrap;
        border-radius: 3px;
    }

    section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
        margin-top: 1rem;
    }

    .texts{
        width: 22rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .texts h1{
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2rem;
        width: 20rem;
        padding: .6rem;
    }

    .texts p{
        font-weight: 400;
        font-size: .6rem;
        width: 16rem;
        line-height: 1.2rem;
    }

    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .main-image{
        width: 60%;
    }

    .btn3, .btn4{
        padding: .2rem .4rem;
        font-size: .4rem;
        border-radius: 3px;
    }
}